<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hasil Prediksi </title>
</head>
<body>
<h1>Hasil Testing C4.5</h1>
 Data yang diinput : {{lis}}
 Prediksi {{pred}}}

<pre>
    Akurasi : 93%
    Keterangan :
    M = Malignant = Ganas
    B = Benign = Jinak
    Radius mean     : F1
    Texture mean    : F2
    Perimeter mean  : F3
    Area mean       : F4
    Smoothness mean : F5
    Compactness mean: F6
    Concavity mean  : F7
    Concave points mean : F8
    Symmetry mean   : F9
    Fractal dimension mean : F10

    Radius se     : F11
    Texture se    : F12
    Perimeter se  : F13
    Area se       : F14
    Smoothness se : F15
    Compactness se: F16
    Concavity se  : F17
    Concave points se : F18
    Symmetry se   : F19
    Fractal dimension se : F20

    Radius worst     : F21
    Texture worst    : F22
    Perimeter worst  : F23
    Area worst       : F24
    Smoothness worst : F25
    Compactness worst: F26
    Concavity worst  : F27
    Concave points worst : F28
    Symmetry worst   : F29
    Fractal dimension worst : F30
</pre>

<a href="/dtc">Kembali ke Testing C4.5</a>

</body>
</html>